* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // height: 100vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 60%;
  margin: 3rem 0 0 0;
  padding: 3rem;
  border-radius: 20px;
  background: 
  radial-gradient( 96.64% 139.16% at 1.21% 98.06%, 
  #7BEAD6 0%, rgba(255, 255, 255, 0) 100%),

  radial-gradient(100% 144% at 0% 0%, 
  #D99EFF 0%, rgba(255, 255, 255, 0) 100%),

  radial-gradient(100% 144% at 100% 0%, #FF9777 0%,
  rgba(255, 255, 255, 0) 100%),

  radial-gradient(100% 144% at 100% 100%, #6A25BD 0%, 
  rgba(255, 255, 255, 0) 100%);
  
}

h1 {
  color: rgb(35, 35, 42);
  padding: 2rem;
  font-size: 3rem;
}

h2 {
  padding: 2rem;
  font-size: 1.4 rem;
}

.add-link {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 2rem;
}

.delete {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.item-card {
  width: auto;
  max-width: 14.5rem;
  border-radius: 0.375rem;
  border: solid rgb(35, 35, 42);
  padding: 1rem;
  margin: 2rem;
}

.item-card:hover .delete {
  display: inline;
  text-decoration: none;
}

.image {
  width: 12.5rem;
}

.item-card-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* add page */


.add-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form > * {
  margin: 5px 0;
}

.input-areas {
  padding: 0 0.25rem;
  height: 42px;
  border-style: none;
  border-radius: 4px;
  background: #CBDFDD;
}

textarea {
  padding: 0.25rem;
  border-style: none;
  border-radius: 4px;
  background: #CBDFDD;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cancel {
  text-decoration: none;
  // background-color: #fff;
  border-style: none;
  padding: 0.7rem 1.5rem;
}

.add {
  width: 128px;
  height: 42px;
  background: #7DACA7;
  border-radius: 4px;
  border-style: none;
}


/* product details */

.details-page {
  display: flex;
}

.poster .image {
  padding: 2rem;
  width: 400px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3rem;
}

.product-info h3 {
  text-transform: uppercase;
  padding: 2rem 0 0 0;
}

.product-info .delete {
  display: block;
  padding-bottom: 3rem;
}
