<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <title>shop&stuff | {{ product.name }}</title>
</head>
<body>
  <main>
    <a href="/"><h1>Shop & Stuff</h1></a>
    <div class="details-page">

      <div class="poster">
        <img class="image" src="/static/images/product{{ product.id }}{{ product.imageExtension }}" alt="">
      </div>
      <div class="product-info">
        <div>
          <div>
            <h3 class="product-name">{{ product.name }}</h3>
            <h3 class="product-price">${{ product.price }}</h3> 
          </div>

          <div class="product-description">
            <h3>product description</h3>
            <p>{{ product.description }}</p>
          </div>
        </div>
      
        <div class="delete">
          <a href="/products/{{ product.id }}/delete">delete</a>
        </div>
      </div>  
    </div>
  </main>
</body>
</html>